* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url("../img/FireService.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: grid;
    overflow: hidden;
}


#menuBTN{
	  display: none;
}

#toggle{
	  display: none;
}

nav{
    background: rgba(128, 0, 32, 0.8);
    height: 80px;
    width: 100%;
}

label.logo{
    color: #04e762;
    font-size: 35px;
    line-height: 80px;
    padding: 0 70px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #f3f3f3;
    font-size: 19px;
    padding: 7px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

a.active,a:hover{
    background:  #D8315B;
    transition: .5s;
}

/**/

section{
  display: grid;
  align-items: center;
  height: 90vh;
  padding: 20px 60px 20px 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.Heading{
    text-transform: uppercase;
    text-align: center;
    margin-top: 4%;
    color: #c1c1c1;
    font-size: 32px;
    padding: 7px;
    letter-spacing: 2px;
    font-weight: bolder;
}

.Motto{
  text-align: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  margin-top: 2%;
  color: orange;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 1.2px;
  padding: 5px;
}

.Form{
  height: 20vh;
  display: flex;
  margin: 2%;
  font-size: 20px;
  align-items: center;
  justify-content: flex-start;

}
.temp {
  padding: 10px;
  margin: 0 24%;
  color: #f3f3f3;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
}

.oxy {
  padding: 10px;
  color: #f3f3f3;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
}

.hum {
  font-size: 18px;
  padding: 10px;
  color: #f3f3f3;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
}

#oxygen, #temperature, #humidity{
  width: 120%;
  color: #f3f3f3;
  text-align: left;
  background-color: transparent;
  border-style: solid;
  border-bottom-color: brown;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  height: 30px;
}

#humidity :focus{
  border-color: transparent;
}

#humidity::-webkit-outer-spin-button, #humidity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#temperature::-webkit-outer-spin-button, #temperature::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#oxygen::-webkit-outer-spin-button, #oxygen::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#generator{
  text-transform: uppercase;
  margin-top: 3%;
  font-weight: bolder;
  padding: 1px 6px;
  background-color: #d4a282;
  font-family: monospace;
  cursor: pointer;
}


.button button{
  margin: 0 43%;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 15px;
  background-color: brown;
  padding: 12px;
  cursor: pointer;
  border-radius: 7px;
  border-style: outset;
  border-width: 0.5px;
  border-color: white;
}

.button :hover{
  opacity: 0.8;
}

.result h3{
    text-align: center;
    color: #f3f3f3;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px;
}

/* ----  Responsiveness   ----  */
@media only screen and (max-width: 1090px){
  .Heading{
    font-size: 30px;
  }
}
@media only screen and (max-width: 1090px){
  .Heading{
    font-size: 27px;
  }
}
@media only screen and (max-width: 1090px){
  .Heading{
    font-size: 27px;
  }

}
@media only screen and (max-width: 947px){
  .Heading{
    font-size: 25px;
  }
}
@media only screen and (max-width: 900px){
	#menuBTN{
		display: block;
		position: absolute;
		right: 0;
		font-weight: 700;
		padding: 1.8rem 1.5rem;
    color: #f3f3f3;
    background-color: rgba(128, 0, 32, 0.8);
    font-size: 19px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
	}

  nav ul{
		position: absolute;
		right: 100%;
		top: 80px;
		width: 100vw;
		flex-direction: column;
		background-color: #202020;
		height: 100vh;
		align-items: center;
		justify-content: flex-start;
		transition: .3s;

	}
  nav ul li{
      display: block;
      margin: 75px 20%;
      line-height: 30px;
      text-align: center;
}

  nav ul li a{
      font-size: 20px;
}

  a:hover,a.active{
      background: none;
      color: #0082e6;
}

nav #toggle:checked ~ ul{
  right: 0;
}
@media only screen and (max-width: 890px){
  .Heading{
    font-size: 25px;
  }
}
@media only screen and (max-width: 829px){

  .result h3{
    font-size: 12px;
  }

}
@media only screen and (max-width: 732px){

}
@media only screen and (max-width: 661px){

    .button button{
      position: relative;
      margin-top: 13%;
    }

    .Motto{
      font-size: 13px;
    }
}

@media only screen and (max-width: 590px){
  .button button{
    margin-top: 32%;
  }

  .result h3{
    margin: 0 10%;
    line-height: 20px;
    padding: 10px;
  }
}

@media only screen and (max-width: 590px){
  .Heading{
    font-size: 20px;
  }
  .button button{
    margin-top: 34%;
  }
}

@media only screen and (max-width: 525px){
  .Motto{
    font-size: 10px;
  }
  .button button{
    margin-top: 40%;
  }
}

@media only screen and (max-width: 464px){
  .Heading{
    font-size: 16px;
  }
  .button button{
    margin-top: 42%;
  }
  label.logo{
    font-size: 25px;
    padding: 0 30px;
  }
}

@media only screen and (max-width: 452px){
  .Motto{
    font-size: 8px;
    letter-spacing: 1.2px;
  }
  .button button{
    margin-top: 47%;
  }
  .result h3{
    margin: 0 7%;
  }
}

@media only screen and (max-width: 402px){
  .result h3{
    margin: 0 4%;
    font-size: 10px;
  }
  .Heading{
    font-size: 13px;
    padding: 0;
  }
  .button button{
    font-size: 13px;
    margin-top: 53%;
  }

}
@media only screen and (max-width: 356px){
  .Motto{
    letter-spacing: 0.6px;
  }
}
