<!DOCTYPE html>
<!-- Designined by Oduwole Ayomipo -->
<html lang="en" dir="ltr">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie-edge">
      <!-- Fontawesome CDN Link -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <link rel="stylesheet" href="../static/css/model.css">
      <script src="https://kit.fontawesome.com/a076d05399.js" charset="utf-8"></script>

      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
      <link rel="shortcut icon" type="image/jpg" href="../img/favicon.jpg">
      <title> FIREOPS </title>
   </head>

  <body>
    <nav>
      <label for="toggle" id="menuBTN">Menu</label>
      <input type="checkbox" id="toggle"></label>
        <label class="logo">FIREOPS</label>
         <ul>
          <!-- <li><a href="../static/html/index.html">Home</a></li> -->
        <!--  <li><a class="active" href="../html/login.html">login</a></li> -->
        <!--  <li><a href="../../html/print.html">Print Result</a></li> -->
          <li><a href="../static/html/index.html">log out</a></li>
        </ul>
     </nav>

     <section>
       <div class="container">
         <div class="Heading">
           <h1>Fire Outbreak Prediction System</h1>
         </div>
          <div class="Motto">
            <p>Predict The Probability of Fire Occurence</p>
          </div>

          <script type="text/javascript">
             function  Random_Oxygen()  {
               var Oxygen = Math.floor(Math.random() * 100);
               document.getElementById('oxygen').value = Oxygen;
             }

             function  Random_Temperature()  {
               var Temperature = Math.floor(Math.random() * 100);
               document.getElementById('temperature').value = Temperature;
             }

             function  Random_Humidity()  {
               var Temperature = Math.floor(Math.random() * 100);
               document.getElementById('humidity').value = Temperature;
             }
          </script>

             <form action='http://127.0.0.1:5000/predict' method="post">
               <div class="Form">

                 <div class="oxy">
                  <label for="first_name"><b>Oxygen </b></label>
                    <br>
                    <input id="oxygen" name="Oxygen" placeholder="Oxygen content in ppm"  type="number" class="validate" autocomplete="off">

                    <input id="generator" type="button" value="Generate" onclick="Random_Oxygen();" />
                  </div>

                  <div class="temp">
                    <label for="first_name"><b>Temperature</b></label>
                     <br>
                     <input id="temperature" placeholder="Temperature in Celsius" name="Temperature" type="number" class="validate" autocomplete="off">

                     <input id="generator" type="button" value="Generate" onclick="Random_Temperature();" />
                  </div>

                  <div class="hum">
                    <label for="first_name"><b>Humidity</b></label>
                      <br>
                    <input  id="humidity" name="Humidity" placeholder="Humidity in percentage %" type="number" class="validate" autocomplete="off">

                    <input id="generator" type="button" value="Generate" onclick="Random_Humidity();" />
                  </div>
               </div>

               <div class="button">
                 <button type="submit">Predict Probability</button>
               </div>

              </form>

              <br>
                 <div class="result"> <h3>{{predict}} </h3>
              <br>

              </div>
        </div>
     </section>
  </body>
</html>
